p {
	font-family: "Poiret One", cursive;
}

a:hover {
	color: green;
}

.heading {
	background-color: purple;
}

.heading:hover {
	background-color: blue;
}

.search-engine-link {
	color: pink;
}
.search-engine-link:hover {
	color: green;
}
.search-engine-link:focus {
	color: red;
}
.search-engine-link:visited {
	color: black;
}
.jumbotron { 
	background-color: blue;

}
/*
.heading:hover,
.search-engine-link {
	color: pink;
}
*/
